@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: youtube;
  src: url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  /* tailwind 문법을 사용하는 법 */
  /* 한 번에 다 적어도 되지만, 속성별로 나눠적는게 보기 좋다 */
  @apply flex flex-col items-center;
  @apply bg-zinc-900 text-gray-50;
}

#root {
  @apply w-full max-w-screen-xl;
  @apply px-6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
